@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600&display=swap");
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@mixin sm {
  @media (min-width: 640px) {
    @content;
  }
}

html,
body {
  background-color: white;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif,
    "Work Sans";
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Work Sans";
}

td,
th {
  padding: 22.5px 0px;
  font-size: 14px;
  color: #545f7d;
}

.input-field {
  transition: 0.3s ease-out all;
  appearance: none;
  -webkit-appearance: none;

  & > label {
    transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) transform;
  }

  & ~ label {
    margin-left: 16px;
    transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) transform;
    color: rgba(84, 95, 125, 0.6);

    @include sm {
      margin-left: 20px;
    }
  }

  &:not(button):not(:placeholder-shown),
  &:not(button):focus {
    background: #fff;
    border-color: rgba(84, 95, 125, 0.15);

    & ~ label {
      padding: 3px 5px;
      background: #fff;
      color: rgba(84, 95, 125, 1);
      top: 0;
      transform: translateY(-50%);
      font-size: 12px;
      line-height: 1;
    }
  }

  &:focus {
    border-color: rgba(57, 205, 204, 1) !important;
  }
}

